div .todo{
    background-color: beige;
    width: 30vw;
    position: absolute;
    top: 30vh;
    left: 70vw;

}

div .pomo{
    background-color: rgb(155, 232, 255);
    width: 70vw;
    margin: auto;   
    position: absolute;
    top: 0;
    left: 15vw;
}

div .pomo h1{
    text-align: center;
}
div .pomo h2{
    text-align: center;
}
div .pomo h3{
    text-align: center;
}
div .pomo button{
    margin: auto;
}


div .pl{
    background-color: rgb(207, 199, 255);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 30vh;
}