div.pomo{
    max-width: 600px;
    background-color: rgb(59, 59, 59);
    color: white;
    padding-bottom: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    padding: 1rem;
}

div.pomo h1{
    text-align: center;
    font-size: 7rem;
    margin-bottom: 0;
}

div.pomo h3{
    position: absolute;
    top: 0;
}

div.pomo .startButton{
    margin: auto;
    margin-bottom: 5vh;
    text-align: center;
    display: block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:  1.5rem;
    background-color: white;
    color: rgb(59, 59, 59);
    border: none;
    border-radius: 10px;
    padding: 0.25rem 0.75rem;
}

div.pomo-settings{

}